body {
  margin-top: 50px;
}

/* Jumbotron Area */

.jumbotron img {
  border-radius: 50%;
  width: 200px;
  border: 5px solid #666;
}

.nama {
  margin-top: 10px;
  font-size: 30px;
}

.status {
  font-size: 16px;
}

/* akhir Jumbotron Area */

/* semua Judul */
.judul-about,
.judul-portfolio,
.judul-contact {
  font-size: 26px;
}
/* Akhir semua judul */

hr {
  width: 150px;
  border: 3px solid #666;
  margin-bottom: 30px;
}

/* Portfolio */
.portfolio {
  background-color: #eee;
}

.judul-portfolio {
  margin-top: 20px;
}

section {
  min-height: 400px;
}
/* Akhir Portfolio */

/* Contact */
.contact {
  min-height: 800px;
}

.judul-contact {
  margin-top: 20px;
}
/* Akhir Contact */

footer {
  position: absolute;
  width: 100%;
  height: 130px;
  background-color: #333;
  padding-top: 15px;
}

footer p {
  color: #aaa;
  font-size: 0.9em;
}

/* ============================= DEKSTOP VERSION ============================= */
@media (min-width: 992px) {
  /* Jumbotron Area */
  .jumbotron img {
    border-radius: 50%;
    width: 250px;
    border: 5px solid #666;
  }

  .nama {
    font-size: 44px;
  }

  .status {
    font-size: 24px;
  }

  /* akhir jumbotron */

  hr {
    width: 300px;
    border: 3px solid #666;
  }

  section {
    min-height: 600px;
  }

  .portfolio {
    background-color: #eee;
  }

  .contact {
    min-height: 800px;
  }

  footer {
    position: absolute;
    width: 100%;
    height: 105px;
    background-color: #333;
    padding-top: 15px;
  }

  footer p {
    color: #aaa;
    font-size: 0.9em;
  }
}
